* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.todo {
    background-color: blue;
    width: 600px;
    display: grid;
    place-content: center;
    row-gap: 3rem;
    padding: 3rem;
}

ul {
    list-style: none;
}

.todo-item {
    display: flex;
    justify-content: space-between;
}

.disable {
    text-decoration: line-through;
}
